In [1]:
from datetime import datetime
import pandas as pd

In [7]:
datetime.today().strftime('%Y-%m-%d')

'2021-09-04'

In [8]:
dia = int(datetime.today().strftime('%d'))
mes = int(datetime.today().strftime('%m'))
ano = int(datetime.today().strftime('%Y'))

In [14]:
moeda = 'Dólar Americano'
dia = int(datetime.today().strftime('%d'))
mes = int(datetime.today().strftime('%m'))
ano = int(datetime.today().strftime('%Y'))
df = pd.read_csv('moedas.csv')
df = df[df['nome'] == moeda] 
valor_real = float(df[[df['dia'] == dia & df['mes'] == mes & df['ano'] == ano]]['valor'])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [10]:
mes

9

In [11]:
ano

2021

In [19]:
float(df[(df['dia'] == dia) & (df['mes'] == mes) & (df['ano'] == ano)]['valor'])

5.19

In [3]:

moeda = 'Dólar Americano'


dia = int(datetime.today().strftime('%d'))
mes = int(datetime.today().strftime('%m'))
ano = int(datetime.today().strftime('%Y'))
df = pd.read_csv('moedas.csv')
df = df[df['nome'] == moeda] 
valor_real = df[(df['dia'] == dia) & (df['mes'] == mes) & (df['ano'] == ano)]['valor']

TypeError: cannot convert the series to <class 'float'>

In [9]:
display(df[(df['dia'] == dia) & (df['mes'] == mes) & (df['ano'] == ano)])

Empty DataFrame
Columns: [nome, valor, dia, mes, ano]
Index: []